################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vscode
/.vs
/obj
/bin
/~$Презентация для школы.pptx
/wwwroot/images
*.user
