.goods-list {
  width: 1000px;
  background-color: rgb(255, 255, 255);
  margin-top: 50px;
  border-radius: 10px;
}

li {
  margin-top: 50px;
  display: flex;
}

ul.demo {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}

.goods-photo {
  width: 100px;
  height: 100px;
  border-style: solid;
  border-width: 1px;
}

.goods-info {
  flex-grow: 1;
}

.delete-goods {
}
