@page
@model TopSite.Pages.AddNewModel
@{
  ViewData["Title"] = "Добавление товара";
}
<link rel="stylesheet" href="~/css/addnew.css" type="text/css">
<form method="post">
  <h1>Добавление товара.</h1>
  <p>Товар и описание</p>
  <input type="text" name="Name" id="Name">
  <p>Цена товара</p>
  <input type="number" name="Price" id="Price">
  <p>Номер телефона</p>
  <input type="text" name="Phone" id="Phone">
  <div>
    <input class="btn primary" type="submit" value="Опубликовать товар">
    <input class="btn" type="file" id="myfile" name="myfile"><br><br>
  </div>
</form>
<div>
  <a href="index">Список товаров</a>
</div>
<div class="order-link">
  <a href="order">Купить товар</a>
</div>