@page
@model TopSite.Pages.AddNewModel
@{
  ViewData["Title"] = "Добавление товара";
}
<link rel="stylesheet" href="~/css/addnew.css" type="text/css">
<form>
  <h1>Добавление товара.</h1>
  <p>Товар и описание</p>
  <input type="text">
  <p>Цена товара</p>
  <input type="text">
  <p>Номер телефона</p>
  <input type="text">
  <input type="submit" value="Опубликовать товар">
</form>
<div>
  <a href="index">Список товаров</a>
</div>
<div class="order-link">
  <a href="order">Купить товар</a>
</div>