@page
@model IndexModel
@{
  ViewData["Title"] = "Товары";
}

@section Styles {
  <link rel="stylesheet" href="~/css/list.css" type="text/css">
}

<div class="goods-list">
    <h1>Список товаров</h1>
    <ul class="demo">
        <li><a href="order">Ноутбук(от30тыс.,руб.) 16 гб оперотивной памяти</a></li>
        <li><a href="order">Чехлы для телефоноф(от 800руб.)</a></li>
        <li><a href="order">Телефоны(от 10тыс.,руб.)64 гб оперотивной памяти</a></li>
        <li><a href="order">Планшеты(от 20тыс.,руб.) 64 гб оперотивной памяти</a></li>
        <li><a href="order">Самокаты(от 10тыс.,руб.) только синего цвета(другого цвета нет-все продали)</a></li>
    </ul>
</div>
