@page
@model IndexModel
@{
  ViewData["Title"] = "Товары";
}

@section Styles {
<link rel="stylesheet" href="~/css/list.css" type="text/css">
}

<div class="goods-list">
  <h1>Список товаров</h1>
  <ul class="demo">
    @{
      foreach (var goods in this.Model.Goods)
      {
        <li>
          <div class="goods-info">
            <div>
              <a href="order">@goods.Name</a>
            </div>
            <div>
              <span>@goods.Price р.</span>
            </div>
          </div>
          <div class="goods-photo">
            <img src="@goods.Photo" alt="@goods.Name" width="500" height="333">
          </div>
        </li>
      }
    }
  </ul>
</div>
  <a href="addnew">Добавить товар</a>