@page
@model IndexModel
@{
  ViewData["Title"] = "Товары";
}

@section Styles {
  <link rel="stylesheet" href="~/css/list.css" type="text/css">
}

<div class="goods-list">
  <h1>список товаров</h1>
  <ul>
    <li><a href="order">ноутбук</a></li>
    <li><a href="order">чехлы для телефоноф</a></li>
    <li><a href="order">телефоны</a></li>
    <li><a href="order">планшеты</a></li>
    <li><a href="order">самокаты</a></li>
  </ul>
</div>
