@page
@model OrderModel
@{
  ViewData["Title"] = "Товар";
}

@section Styles {
<link rel="stylesheet" href="~/css/order.css" type="text/css">
}

<form>
  <h1>Магазин техники</h1>
  <p>Имя</p>
  <input type="text">
  <p>Адрес доставки</p>
  <input type="text">
  <p>Способ доставки</p>
  <input type="radio" name="select">
  <span>Самовызов</span>
  <input type="radio" name="select">
  <span>Курьерская доставка (100руб.)</span>
  <p>Какую технику вы хотите?</p>
  <input type="text">
  <div>
    <input type="checkbox">
    <span>Я согласен на обработку персональных данных</span>
  </div>
  <div>
    <input type="submit" value="Оформить доставку">
  </div>
</form>
<div>
  <a href="index">Список товаров</a>
</div>
<div class="add-link">
  <a href="addnew">Добавить товар</a>
</div>